<form
    class="bg-white w-full border border-slate-400/35 rounded-md overflow-hidden lg:absolute -right-72 -top-32 flex flex-col gap-3 justify-start items-start"
    action=""
>
    <div
        class="w-full flex-col items-center mt-4 capitalize flex justify-center"
    >
        <h5 class="text-primary text-xl font-semibold leading-none text-center">
            Planifiez une consultation gratuite
        </h5>
        <hr class="w-full h-[1px] mt-4 bg-slate-400/35 rounded-full" />
    </div>
    <div class="flex w-full flex-col mt-5 p-2 gap-7 justify-start items-start">
        <div class="flex w-full gap-3 justify-start items-center flex-wrap">
            <div
                class="flex flex-col gap-2 justify-start items-start w-full lg:w-[48%]"
            >
                <label
                    class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for=""
                >
                    Prénom
                </label>
                <input
                    placeholder="Entrez votre prénom"
                    class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                />
            </div>
            <div
                class="flex flex-col gap-2 justify-start items-start w-full lg:w-[48%]"
            >
                <label
                    class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for=""
                >
                    Nom de famille
                </label>
                <input
                    placeholder="Entrez votre nom de famille"
                    class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                />
            </div>
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=""
            >
                Entreprise / Organisation
            </label>
            <input
                placeholder="Entrez le nom de votre entreprise"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=""
            >
                Email de l'entreprise
            </label>
            <input
                placeholder="Entrez l'email de votre entreprise"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=""
            >
                Numéro de téléphone
            </label>
            <input
                placeholder="Entrez votre numéro de téléphone"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for=""
            >
                Message
            </label>
            <textarea
                placeholder="Entrez votre message"
                class="flex h-10 w-full rounded-md border min-h-32 border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
            ></textarea>
        </div>

        <button
            class="flex h-10 w-full lg:w-48 rounded-md bg-primary text-white text-sm font-semibold justify-center items-center"
        >
            Soumettre
        </button>
    </div>
</form>